#footer {
    background: #1D1D1D!important;
    color: white;
    padding: 5em;
}

.cont-text {
    color: #747474;
}

.line {
    background: #747474;
    height: 1px;
    width: 100%;
}

.contact div, .contact-2 div {
    margin-bottom: 1em;
}

#footer .row {
    margin-bottom: 1em;
    margin-top: 2.5em;
}

.block-flex {
    display: flex;
    justify-content: space-between;
}

.footer2 {
    margin: 1em 0;
}

.block2 div {
    margin-right: 2em;
}

.icone-media-link {
    background: url("../img/icons-media.png") no-repeat;
    background-size: 10em;
    background-position-x: right;
}

.text-no-link {
    font-weight: 700;
}