.section-link {
    margin: 1em 0;
}

.section-link a {
    color: #747474;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    margin: 1em 1em 1em 0;
}
.section-link a:hover {
    color: black;
    text-decoration: underline #FFCF08;
    text-decoration-thickness: 3px;
}
select {
    width: 300px;
    border-radius: 7px;
    border: 1px solid #F5F5F5;
    overflow: hidden;
    font-weight: 500;
    position: relative;
    height: 2em;
    max-height: calc(40px* 8);
    transition: 0.2s;
    margin: 1em 0.5em 1em 0!important;
    color: #747474;
}
.card-rout {
    border: solid 1px #F5F5F5;
    border-radius: 20px;
    margin-top: 2em;
}
.text-area {
    background: #F5F5F5;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}
.city {
    padding: 1em;
    font-weight: 700;
    font-size: large;
}
.btn-rout {
    background: #FFCF08;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    line-height: 2.5em;
}
.btn-area {
    padding: 1em;
}
.info {
    padding: 0 1em;
    margin-bottom: 2em;
    display: flex;
}
.info div {
    padding-right: 1em;
}
.mark-card {
    width: 24px;
    padding-right: 5px;
}

.cards {
    margin: 2em 0;/*!importan;*/
}
.picture {
    background: url("/img/city.png") no-repeat;
    height: 260px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    background-size: cover;
}

.flexx {
    display: flex;
}

.link-back {
    display: flex;
    align-items: center;
}

.action-btn {
    background: url("/img/action-btn.png") no-repeat;
    width: 10em;
    height: 2.5em;
    background-size: 5em;
    display: flex;
    margin-top: auto;
}

.space{
    justify-content: space-between;
}

.type-road-link {
    background: #F5F5F5;
    border-radius: 10px;
    padding: 1em;
    margin-right: 1em;
}

.btn-rout-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.dgc {
    color: #747474;
}

.lgc {
    color: #F5F5F5;
}

.road-link a {
    color: #747474;
    text-decoration: none;
    position: relative;
    font-weight: 600;
    margin: 1em 1em 1em 0;
}

.type-road-link:hover {
    border: solid 3px #FFCF08;
}

#container-switch input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

#container-switch label {
    cursor: pointer;
    text-indent: -9999px;
    width: 2.5em;
    height: 1.5em;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

#container-switch label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#container-switch input:checked + label {
    background: #FFCF08;
}

#container-switch input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

#container-switch label:active:after {
    width: 130px;
}

.name {
    font-weight: 600;
    font-size: 1.3em;
}

.info-dot {
    margin-left: 1.5em;
}

.map {
    background: url(/img/map.png) no-repeat;
    background-size: 100%;
    width: 80em;
    margin: 0 2em;
}

.img-prev-dot {
    position: relative;
    display: inline-block;
}

.number-dot {
    position: absolute;
    bottom: -10px;
    right: -5px;
    padding: 5px 10px;
    border-radius: 100%;
}

.info-transition {
    align-items: center;
    display: flex;
    margin-left: 3em;
}

.rating {
    background: #007470;
    padding: 0.5em;
    border-radius: 10px;
    color: white;
    margin-left: 1em;
}

.like {
    margin-right: 1em;
    background: rgba(169, 169, 169, 0.5);
}

.social {
    margin-bottom: -3.5em;
}